
.card-box{

    position: absolute;
    left: 20%;

}

.card-box>img{

       width: 20rem;
       height: 10rem;

}

.card-box>button{

    position: absolute;
    top: 60%;
    left: 30%;
    border-radius: 1rem;
    padding: .8rem .8rem;
    border: none;
    color: white;
    background-color: rgb(77, 77, 170);
    font-weight: 700;
}