/*  NAVBAR */

.nav-container{

      display: flex;
      justify-content: space-around;
      
}

.link{
    text-decoration: none;
}

/*--------------------------------------- CARD ITEMS -----------------------------*/

.card-container{
      
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 60px;
}

.card-item{

     border: 2px solid red;
}
.card-item>img{
      
    width:100%;
    height: 40vh;
}


/* --------------------    ----------------------------------------*/